<form ng-submit="create()" class="form">
	<fieldset>
	<div class="form-group">
		<label class="sr-only" for="Email">Email address</label>
		<input type="email" class="form-control" id="Email" placeholder="Enter email" ng-model="credentials.email" required/>
	</div>
	
	<div class="form-group">
		<label class="sr-only" for="Password">Password</label>
		<input type="password" class="form-control" id="Password" placeholder="Password" ng-model="credentials.password" required/>
	</div>

	<div class="form-group">
		<label class="sr-only" for="Username">Username</label>
		<input type="text" class="form-control" id="Username" placeholder="Username" ng-model="credentials.username" required/>
	</div>
<div class="form-group">
  
  <div ng-controller="UserTypeController" >
      <label class="sr-only" for="UserTypes">User Types</label>
      <select class="form-control" id="UserTypes" ng-model="credentials.type">
	        <option ng-repeat="item in items" value="{{item}}">{{item}}</option>
      </select>
    </div>
</div>
	<button type="submit" class="btn btn-default">Create</button>
	 </fieldset>
</form>
